{% for list in lists %}
  <li class="unpinned-category{% if recursion is defined %} unpinned-category-child-{{ recursion }}{% endif %}"><a href="#expandCollapse" class="unpinned-category-button">{{list.name}}<button class="unpinned-icon">&#59228;</button></a>
      <div class="feed-unpinned unpinned">
          <ol class="feed-in-use saveable posts" data-scope="posts">
              {% for post in list.posts %} {% include "feed-post-stub.twig" %} {% endfor %}
          </ol>
      </div>
  </li>

  {% if list.children %}
    {% include 'feed-terms.twig' with {'lists': list.children, 'recursion': recursion ? (recursion + 1) : 1} %}
  {% endif %}
{% endfor %}