// !============================================= //

// ! Typography                                   //

// !============================================= //


$admin-sans: Helvetica, Arial, Verdana, sans;

@include font-face("EntypoRegular",
		 			font-files("entypo.woff",
					 		   "entypo.ttf",
					 		   "entypo.svg#EntypoRegular"),
					 		   "entypo.eot",
					 		   500, normal);

.icon {
    font-size: 35px;
    font-family: 'EntypoRegular';
    vertical-align: middle;
    color:white;
}