// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//	Variables for Feed Manager				 			   

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~


// Colors
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
$wp-blue: rgb(33, 117, 155);
$wp-blue-75: rgb(89, 152, 180);
$wp-blue-50: rgb(144, 186, 205);
$f-gray-100: rgb(127, 140, 141);
$f-gray-75: rgb(159, 169, 170);
$f-gray-50: rgb(191, 198, 198);
$f-gray-30: rgb(217, 220, 221);
$f-gray-15: rgb(236, 236, 238);
$f-black-75: rgb(90, 87, 88);
$f-accent-100: rgb(255, 98, 97);
$background-fallback: #bfc6c6;



$wp-link-before: rgb(0, 116, 162);
$wp-link-hover: rgb(30, 140, 190);
$wp-link-after: rgb(18, 73, 100);
$wp-button-grey: rgb(224, 224, 224);
$wp-button-grey-75: rgb(170, 170, 170);
$wp-button-grey-light: rgb(245, 245, 245);
$wp-bg: rgb(241, 241, 241);

// Unused colors that may be useful one day
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
// $wp-blue-30: rgb(188, 214, 225);
// $f-gray-90: rgb(140, 152, 152);
// $f-gray-10: rgb(242, 244, 244);
// $f-accent-75: rgb(255, 137, 137);
// $f-accent-50: rgb(255, 177, 176);
// $f-accent-30: rgb(255, 208, 208);

// Trans variables
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
$trans-time: .2s;
$trans-ease: ease-in;

// Margin and padding for many elements
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
$f-block-inset: 0 20px;