// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Search for Feed Manager

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// .expand-wrap encapsulates everything that might 
// change height to allow for repositioning of the fixed
// category wrap

.expand-wrap {
    &.stuck {
        position: fixed;
        top: 48px;
        width: 320px;
    }
}


// Search box
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.feed-post-search {
    position: relative;
    input[type='search'] {
        width: 60%;
        padding-right: 3%;
        height: 28px;
    }
    input[type='submit'] {
    }
}

// Results
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.results-mod {
    display: none;
}

.results-mod-active {
    overflow-y: auto;
    max-height: 225px; 
}

.results {
    margin: 0;
    &.ui-sortable-placeholder {
        @extend .thin-placeholder;
    }
}

