/* ---------------------------------------------- */

/*  Thin stubs (list-view, unpinned, removed, search)                

/* ---------------------------------------------- */

.thin {

    .feed-in-use {
        padding-top: 0px;
        margin-left: 0;
    }

    .feeds-number-wrap {
        display:none;
    }

    .feed-manager-post {
        margin-bottom: 0px;
        &.ui-sortable-placeholder {
            margin: 5px 0;
            min-height: 40px;
            border: 1px dashed $f-gray-50;
        }
       
    }

    .new-post-stub {
        margin-bottom: 0px;
        padding: 1px 18px 7px 18px;
        min-height: 0;
        border-top: 1px solid $f-gray-15;
        border-radius: 0;
        box-shadow: none;
    }

    .stub-img-mod {
      display: none;
    }

    .stub-img {
        // width: 30px;
    }

    .stub-content-mod {
        clear:none;
        padding: 0;
        border-top: 0;
        line-height: 14px;
    }

    .stub-tool-mod {
        float: right;
    }

    .stub-title {
           margin: 0;
        > a {
            font-size: 12px;
            font-weight: 400;
            color:black;
        }
    }

    .stub-text {
        padding-top:10px;
        // @include ellipsis;
        color: $f-gray-100;
        // margin-left: 60px;
    }

    .stub-meta {
        display: none;
    }

    .stub-date {
        color: $f-gray-30;
    }

    .thin-placeholder {
        visibility: visible !important;
        height: 40px;
        border: 1px dashed $f-gray-50;
        background-color: transparent;
    }
    .stub-control{
        display: none;
    }
}






