// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Base styles for Feed Manager, mostly reset

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~


// Feed Manager Specific
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.toplevel_page_feed_manager_settings #wpwrap {
    background-color: $background-fallback;
    background: none repeat scroll 0% 0% rgb(241, 241, 241);
}

.feed-manager-content * {
    @include box-sizing(border-box);
    list-style: none;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.feed-manager-content {
    @include user-select();
    font-family: $feed-sans;
}

.toplevel_page_feed_manager_settings {
// Resets
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

    button {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    a {
        text-decoration: none;
        &:active {
            outline: none;
        }
    }

    label {
        cursor: default;
    }

    input[type="text"] {
        color: $f-gray-50;
    }

    input {
        @include placeholder(white, white, transparent);
        -webkit-appearance: none;
    }

    // blanket focus reset appears to be the best way
    // to hide the outline in Chrome Canary
    *:focus {
        outline: 0;
    }


    // Search resets
    // ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
    @include webkit-search-reset;
}



