// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Search for Feed Manager

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// .expand-wrap encapsulates everything that might 
// change height to allow for repositioning of the fixed
// category wrap

.expand-wrap {
    &.stuck {
        position: fixed;
        top: 48px;
        width: 320px;
    }
}


// Search box
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.feed-post-search {
    position: relative;
    input[type='search'] {
        margin: 7px 4px -2px 0px;
        padding-left: 2%;
        // border-width: 0;
        height: 28px;
        width: 100%;
        height: 36px;
        padding-right: 40px;
    }
    input[type='submit'] {
        border: 0px none;
        position:absolute;
        top: 3px;
        right:10px;
        padding-bottom: 25px;
        background-color: transparent;
        color: rgb(33, 117, 155);
        cursor: pointer;
        margin-left: -60px;
        &:hover {
            @include trans($trans-time, color, $trans-ease);
            color: $f-gray-30;
        }
    }
}

.search-inputs {
    margin-top: -7px;
    width: 100%;
}




// Results
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.results-mod {
    display: none;
}

.results-mod-active {
    overflow-y: auto;
    max-height: 225px; 
}

.results {
    margin: 0;
    &.ui-sortable-placeholder {
        @extend .thin-placeholder;
    }
}

