/* ---------------------------------------------- */

/*  Unpinned Categories                

/* ---------------------------------------------- */

// Unpinned Categories
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

/*div*/.unpinned-categories-wrapper {
    @include trans($trans-time, top, $trans-ease);
    margin: 0px 0 20px 0;
}
    /*ul*/.unpinned-category-list {
            margin-top: 12px;
            padding-bottom: 40px;

            // border: 1px solid rgb(229, 229, 229);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
        
        }
            /*li*/.unpinned-category {
                margin-bottom: 0;
                cursor: pointer;
                &:last-child {
                    margin-bottom: 10px;
                    .feed-unpinned {
                        margin-bottom: 0;
                    }
                }
            }

                .unpinned-category-button {
                    position: relative;
                    display: block;
                    padding: 13px 32px 13px 18px;
                    border-bottom: 2px solid $f-gray-30;
                    background-color: white;
                    color: black;
                    font-weight: 400;
                    font-size: 13px;

                    border-bottom: 1px solid rgb(223, 223, 223);
                    margin: 0px;

                    &:hover {
                        // color: white;
                        > .unpinned-icon {
                            @include trans($trans-time, color, $trans-ease);
                            color: $wp-link-hover;
                        }
                    }
                    &:visited {        
                        // color: white;    //Firefox fix
                    }
                    > b {
                        padding-left: 10px;
                        color: $wp-button-grey-75;
                        font-weight: 700;
                    }
                }
                
                /*a[href="#expandCollapse"]*/
                    .category-expanded {
                        background-color:$wp-button-grey-light;

                    & .unpinned-icon {
                        // color: white;
                    }
                }

                    /*span*/.unpinned-icon {
                        @extend .icon;
                        position: absolute;
                        top: 2px;
                        right: 18px;
                        color: $f-gray-30;
                    }


// Unpinned stubs
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.feed-unpinned {
    display: none;
    margin-bottom: 10px;
}   

.thin-unpin {
    

    .stub-content-mod {
        pointer-events: none;
        margin: -4px 31px 0px 0px;
    }
    .feeds-number-wrap {
        display: none;
    }
    .display-selector {
        display: none;
    }
    .pin {
        position: absolute;
        top: 9px;
        color: $f-black-75;
        height: 24px;
        width: 24px;
        @include border-radius(12px);
        border: 2px solid;
        line-height: 1px;
        right: -6px;
        padding-left: 1px;
        &:hover {
            @include trans($trans-time, color, $trans-ease);
            background-color: transparent;
            color: $wp-link-hover;
        }
    }
    .stub-control{
        display: none;
    }
}



