/* ---------------------------------------------- */

/*  Thin stubs (list-view, unpinned, removed, search)                

/* ---------------------------------------------- */

.thin {

    &.feed-in-use {
        padding-top: 0px;
        margin-left: 0;
    }

    &.feed-manager-post {
        margin-bottom: 0px;
        &.ui-sortable-placeholder {
            margin: 5px 0;
            min-height: 40px;
            border: 1px dashed $f-gray-50;
        }
    }

    .new-post-stub {
        margin-bottom: 0px;
        padding: 1px 18px 7px 18px;
        min-height: 0;
        border-top: 1px solid $f-gray-15;
        border-radius: 0;
        box-shadow: none;
    }

    .stub-img-mod {
        margin: 5px 10px 5px 6px;
        height: 30px;
        width: 30px;
    }

    .stub-img {
        width: 30px;
    }

    .stub-content-mod {
        margin: -4px 18px 0 0;
        padding: 0;
        border-top: 0;
        line-height: 40px;
    }

    .stub-tool-mod {
        float: right;
    }

    .stub-title {
           margin:-24px 0px -12px 0px;
        > a {
            font-size: 12px;
        }
    }

    .stub-text {
        @include ellipsis;
        color: $f-gray-100;
    }

    .stub-meta {
        display: none;
    } 

    .stub-date {
        color: $f-gray-30;
    }

    .thin-placeholder {
        visibility: visible !important;
        height: 40px;
        border: 1px dashed $f-gray-50;
        background-color: transparent;
    }
     .stub-control{
        display: none;
    }
}






